* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  min-height: 900px;
  margin: auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding-top: 0;
}

/* CSS banner */
.banner {
  position: relative;
  height: 360px;
}

.banner img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.banner-info {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  text-align: center;
}

.banner-info .fullname {
  font-size: 32px;
}

.banner-info .work {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-top: 6px;
}

/* CSS navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 14px;
}

.navbar a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
  border-right: 2px solid #f2f2f2;
  line-height: 60px;
}

.navbar a:first-child {
  border-left: 2px solid #f2f2f2;
}

.navbar-icon {
  color: rgb(129, 129, 253);
  margin-right: 2px;
}

.navbar-info {
  padding: 8px 20px;
  height: 60px;
  border-right: 2px solid #f2f2f2;
  text-align: center;
}

.navbar-info .fullname {
  font-size: 20px;
}

.navbar-info .work {
  color: rgba(67, 67, 67, 0.5);
  font-size: 12px;
  margin-top: 4px;
}

/* CSS personal info */
.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.target-career,
.info {
  padding: 60px 40px 30px;
}

.target-career {
  background-color: #f7f6f6;
}

.target-career h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.target-career p {
  margin-top: 28px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #626262;
}

.info {
  background-color: #f2f2f2;
}

.info h3 {
  font-size: 20px;
  margin-bottom: 28px;
  color: rgba(0, 0, 0, 0.8);
}

.info p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #626262;
  letter-spacing: 1px;
}

.info .contact-icons {
  margin-top: 30px;
  margin-bottom: 20px;
}

.info .contact-icons i {
  color: rgba(0, 0, 255, 0.425);
  margin-right: 8px;
}

/* CSS career info */
.career-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  padding: 30px 120px;
}

.career-info > div {
  border: 1px solid #f2f2f2;
}

/* CSS grid chung cho 6 khối */
.layout-universal {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: space-between;
  align-content: start;
  padding: 40px 20px;
}

.career-info .list {
  grid-column: 1 / -1;
  margin-top: 50px;
  margin-left: 16px;
}

.career-info .heading {
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 6px;
}

.career-info .heading-icon i {
  font-size: 28px;
  color: #bcbcbc;
}

.list li {
  margin-bottom: 36px;
}

.list li::marker {
  color: rgba(137, 43, 226, 0.682);
  font-size: 20px;
}

.list .sub-heading {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.list p {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.list .time-work {
  margin-bottom: 10px;
}

p.description {
  margin-top: 4px;
  line-height: 1.6;
  letter-spacing: 0.7px;
}

/* CSS for Hobby, Languages, Skills */
.hobby .list-hobby {
  display: flex;
  gap: 6px;
  margin-left: 0;
  margin-top: 30px;
}

.my-hobby {
  flex: 1;
  text-align: center;
}

.my-hobby .hobby-icon {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(137, 43, 226, 0.34);
  border-radius: 50%;
  color: rgba(137, 43, 226, 0.74);
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-hobby .hobby-name {
  font-size: 12px;
}

.list.list-language {
  margin-top: 30px;
  margin-left: 0;
  margin-bottom: 20px;
}

.my-language {
  margin-bottom: 20px;
}

.my-language .name {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.three-score span {
  display: inline-block;
  width: 45px;
  height: 2px;
  margin: 4px;
  background-color: #ededed;
}

/* CSS for certificate */
.certificate {
  padding: 30px 120px;
  background-color: #f7f6f688;
}

.certificate-heading {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #595959;
}

.certificate-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  justify-content: space-between;
}

.my-certificate {
  display: flex;
  padding: 24px 0;
  gap: 25px;
  position: relative;
}

.border-certificate {
  grid-column: 1 / -1;
  border-bottom: 1px solid #d6c08d;
}

.my-certificate.sub-border {
  position: relative;
}

.my-certificate.sub-border::after {
  content: "";
  position: absolute;
  top: 24px;
  bottom: 24px;
  left: -12px;
  border-left: 1px solid #d6c08d;
}

.my-certificate img {
  width: 150px;
}

.my-certificate .certificate-name {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 2px;
  margin-bottom: 8px;
}

.my-certificate p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}

/* CSS for Project */
.project {
  padding: 30px 120px;
}

.project-heading {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.my-project {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.project-img {
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
}

.project-name {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.7px;
  padding: 16px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project-info {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.7);
  padding: 14px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project-info .year {
  padding: 4px 8px;
  background-color: rgba(0, 0, 255, 0.455);
  color: #fff;
  font-size: 8px;
  border-radius: 10px;
}

.project-info i {
  font-size: 14px;
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.6);
}

.project-desc {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-spacing: 0;
  letter-spacing: 0.6px;
  line-height: 1.3;
}

.project-desc td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.project-desc tr:last-child td {
  border: none;
}

.project-desc td:first-child {
  width: 80px;
  padding-right: 0;
  vertical-align: top;
}

/* .project-desc tr {
  position: relative;
}

.project-desc tr::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project-desc tr:last-child::after {
  display: none;
} */

/* CSS for Footer */
.footer {
  padding: 30px 0;
  margin-top: 20px;
  background-color: rgba(183, 183, 183, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer .my-contact:link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.footer .my-contact:hover {
  color: blue;
}

.footer .my-contact i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: rgba(0, 0, 255, 0.455);
  color: #ffffffe3;
  border-radius: 50%;
  font-size: 12px;
}
